.hero-unit {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  overflow: none;
  font-size: 50px;
  padding: 20px;
  line-height: 1.5; }

.hero-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  .hero-img img {
    width: 100%; }

.highlight {
  background-color: #61cfff;
  padding: 5px 10px;
  margin-bottom: 10px; }
